<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WPFPages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WPFPages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WPFPages.Properties.Settings.LocalDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ian1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WPFPages.Properties.Settings.C__USERS_IANCH_APPDATA_LOCAL_MICROSOFT_MICROSOFT_SQL_SERVER_LOCAL_DB_INSTANCES_MSSQLLOCALDB_IAN1_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;C:\USERS\IANCH\APPDATA\LOCAL\MICROSOFT\MICROSOFT SQL SERVER LOCAL DB\INSTANCES\MSSQLLOCALDB\IAN1.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="WPFPages.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DINO-PC;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
        <add name="WPFPages.Properties.Settings.NorthwindConnectionStringold"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\IANCH\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\16.0_0827B8C0\DESIGNER\CACHE\1928924530X86DD\NWND.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <WPFPages.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = 'C:\USERS\IANCH\APPDATA\LOCAL\MICROSOFT\MICROSOFT SQL SERVER LOCAL DB\INSTANCES\MSSQLLOCALDB\IAN1.MDF'; Integrated Security = True; Connect Timeout = 30; Encrypt = False; TrustServerCertificate = False; ApplicationIntent = ReadWrite; MultiSubnetFailover = False</value>
            </setting>
        </WPFPages.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WPFPages.Properties.Settings>
            <setting name="BankSysConnectionString" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="backupbanksysstring" serializeAs="String">
                <value>Data Source=DINO-PC; Initial Catalog = 'C:\USERS\IANCH\APPDATA\LOCAL\MICROSOFT\MICROSOFT SQL SERVER LOCAL DB\INSTANCES\MSSQLLOCALDB\IAN1.MDF';  Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="Previousconnstring" serializeAs="String">
                <value>Data Source=DINO-PC; Initial Catalog = 'C:\USERS\IANCH\APPDATA\LOCAL\MICROSOFT\MICROSOFT SQL SERVER LOCAL DB\INSTANCES\MSSQLLOCALDB\IAN1.MDF';  Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="DetailsDbView_dindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Multi_bindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Multi_cindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Multi_dindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BankDbView_bindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustDbView_cindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SqlDbViewer_bindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SqlDbViewer_cindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SqlDbViewer_dindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchPathFile" serializeAs="String">
                <value>C:\Users\ianch\Documents\searchpaths.dat</value>
            </setting>
            <setting name="DocumentsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTextviewer" serializeAs="String">
                <value>Notepad++.exe</value>
            </setting>
            <setting name="StartupWindow" serializeAs="String">
                <value>Bank Db Viewer</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\WPFPAGES2-RECOVERED\BIN\DEBUG\NORTHWND.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="AppRoot" serializeAs="String">
                <value>C:\WPFPages2-Recovered</value>
            </setting>
        </WPFPages.Properties.Settings>
    </userSettings>
</configuration>
